<div>
    <h2>Настройка</h2>
    <label>Для удаления нажмите на кнопку</label>
    <div ng-model="error" class="field-validation-error">{{error}}</div>
    <button ng-click="Remove()">Очистить все вопросы</button>
    <div ng-model="error" ng-class="text-red">{{msg}}</div>
</div>
