<h2>Результат</h2>
    <table class="table">
    <thead>
        <tr style="background-color:#F5F5F5;">
            <th>Вопрос</th>
            <th>Число</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="Value in Values">
            <td>{{Value.question}}</td>
            <td>{{Value.value}}</td>
        </tr>
    </tbody>
</table>
